@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-brand-success: #238636;
  --color-brand-success-hover: #2ea043;
  --color-surface: #161B22;
  --color-surface-deep: #0D1117;
  --color-base: #0F1115;
}

@layer base {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #30363D;
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #484f58;
  }
}
